/*
 * INIT
 * --------------------------------------
 */

    @-ms-viewport {
        width: device-width;
    }

    * { 
        -moz-box-sizing: border-box; 
        -webkit-box-sizing: border-box; 
        box-sizing: border-box; 
    }

    body {
        background-color: #fff;
        margin: 0;
        padding: 0;
        font: 14px "Open Sans", helvetica, arial, sans-serif;
        color: #444;
    }

    form, img {
        border: 0;
        margin: 0;
        padding: 0;
    }

    .clearfix:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }
     

/*
 * HEADER
 * --------------------------------------
 */

    #header {
        position: absolute;
        height: 50px;
        top: 0;
        left: 0;
        right: 0;
    }

        #main-nav {
            position: absolute;
            top: 0;
            left: 20px;
            height: 100%;
            margin: 0;
            padding: 0;
            list-style: none;
        }

            #main-nav li {
                margin: 0 20px 0 0;
                padding: 0;
                float: left;
            }

            #main-nav li.brand {
                font-size: 22px;
                color: #fff;
                line-height: 50px;
                letter-spacing: -1px;
            }

            #main-nav li a {
                display: inline-block;
                line-height: 30px;
                padding: 10px 0;
                color: #fff;
                text-decoration: none;
                opacity: 0.5;
            }

            #main-nav li a:hover {
                text-decoration: underline;
                opacity: 0.75;
            }

            #main-nav li a.current {
                font-weight: 700;
                opacity: 1;
            }

        #locales {
            position: absolute;
            top: 0;
            right: 20px;
            height: 100%;
            margin: 0;
            padding: 0;
            list-style: none;
        }

            #locales li {
                margin: 0 0 0 20px;
                padding: 0;
                float: left;
            }

            #locales li a {
                display: inline-block;
                line-height: 30px;
                padding: 10px 0;
                color: #fff;
                text-decoration: none;
                opacity: 0.5;
            }

            #locales li a:hover {
                text-decoration: underline;
                opacity: 0.75;
            }

            #locales li a.current {
                font-weight: 700;
                opacity: 1;
            }


/*
 * HERO
 * --------------------------------------
 */

#hero {
    display: table;
    width: 100%;
    height: 350px;
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

    #hero .inner {
        display: table-row;
    }

        #hero .inner .block {
            display: table-cell;
            color: #fff;
            text-align: center;
            vertical-align: middle;
            padding: 0 20px 2% 20px;
        }

        #hero .inner .block h1 {
            display: inline-block;
            font-size: 40px;
            font-weight: 400;
            max-width: 900px;
            color: #fff;
            margin: 0 auto;
            padding: 0;
            text-shadow: 0 2px 4px rgba(0,0,0,0.85);
        }

        #hero .tabline {
            color: #fff;
            font-size: 22px;
            text-shadow: 0 2px 4px rgba(0,0,0,0.85);
            text-align: center;
        }

    .blurb {
        position: relative;
        width: 30%;
        float: left;
        margin: 0 5% 20px 0;
        border: solid 1px #ddd;
        min-height: 300px;
    }

    .blurb-icon {
        height: 130px;
        font-size: 55px;
        text-align: center;
        line-height: 130px;
        background-color: #f3f3f3;
        color: #1abc9c;
        border-bottom: solid 1px #ddd;
    }

    .blurb-title {
        padding: 10px;
        font-size: 20px;
        text-align: center;
        font-weight: 700;
    }

    .blurb-desc {
        padding: 10px 20px;
    }

        .blurb-desc p {
            padding: 0;
            margin: 0 0 15px 0;
        }

    .blurb:nth-child(3n) {
        float: right;
        margin-right: 0;
    }


.section {
    position: relative;
    margin: 50px 0 0 0;
}

.section.alt {
    background-color: #f3f3f3;
}

    .section .inner {
        position: relative;
        max-width: 900px;
        margin: 0 auto;
        padding: 50px 20px;
        font-size: 14px;
    }

    .section .inner p {
        font-size: 14px;
        color: #666;
    }

    .section h2 {
        font-size: 26px;
        color: #333;
        margin: 0 0 30px 0;
        padding: 0;
        font-weight: normal;
    }


#footer {
    background-color: #111;
    color: #fff;
    text-align: center;
}

    #footer .inner {
        padding: 30px 20px;
    }


    #footer .copyright {
        text-align: center;
        padding-bottom: 10px;
    }

    #footer a {
        color: #fff;
        text-decoration: underline;
        display: inline-block;
        margin: 0 10px;
    }
